body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#0d6efd,#6610f2);
  color: white;
  text-align: center;
}

header {
  padding: 50px 20px;
}

.hero {
  background: white;
  color: black;
  margin: 30px;
  padding: 40px;
  border-radius: 20px;
}

button {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #0b5ed7;
}

footer {
  padding: 20px;
}
